@font-face {
  font-family: 'Pantera';
  src: url('fonts/pantera_A4.otf') format('opentype');
}

a {
  text-align: center;
  display: block;
  font-family:'Pantera';
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
}